.ce-delimiter {
    text-align: center;
}

.ce-delimiter::before {
    display: inline-block;
    margin: 40px auto;
    content: '';
    width: 360px;
    border-top: 1px solid #898989;
    color: #757B84;
    height: 0;
}